@model List<Post>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Posts</title>
    </head>
    <body>
        <h3>Welcome @Context.Session.GetString("name"), ID: @Context.Session.GetInt32("UUID")</h3>
        <h1>View our posts</h1>

        @{
            Post newPost = new Post();
            newPost.Topic = "This is a topic from cshtml";
        }

        <partial name="_New" model="@newPost"></partial>

        @foreach (Post item in Model)
            {
                <div>
                    <h3>@item.Topic</h3>
                    <h3>@item.Body</h3>
                    <p>@item.CreatedAt</p>
                    <p>@item.Author.FullName()</p>
                    @if(item.ImgUrl != null && item.ImgUrl != "")
                    {
                    <img src="@item.ImgUrl" alt="No Image Here lol">
                    }
                    <a asp-controller="Post" asp-action="GetOne" asp-route-postId="@item.PostId">View Details</a>

                @{
                    bool alreadyLiked = item.PostLikes.Any(likes => likes.UserId == Context.Session.GetInt32("UUID"));
                }
                <div>
                    <form asp-controller="Post" asp-action="Like" asp-route-postId="@item.PostId" method="POST">

                        <button type="submit">
                            @if(alreadyLiked)
                            {
                                <span>Unlike</span>
                            }
                            else
                            {
                                <span>Like</span>
                            }
                        </button>
                    </form>
                    <span>Likes: @item.PostLikes.Count</span>
                </div>
                </div>
            }
        <a href="/post/new">New Post</a>
    </body>
</html>