@model List<Product>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="margin-left: 70px; margin-top: 50px;">
            <h1>Dashboard | <a asp-controller="ECommerce" asp-action="Products">Products</a> | <a asp-controller="ECommerce" asp-action="Orders">Orders</a> | <a asp-controller="ECommerce" asp-action="Customers">Customers</a> | <a asp-controller="ECommerce" asp-action="Settings">Settings</a></h1>
        </div>
        <div>
            <div>
                <input type="text" name="search">
                <br>
                <button>Filter</button>
            </div>
            <div style="display: flex; flex-wrap: wrap;">
                @foreach (Product item in Model)
                {
                    <div style="border: 2px solid black; height: 150px; width: 100px;">
                        <img src="" alt="Product Image" height="75px" width="75px">
                        <h4>@item.Name</h4>
                        <p>(@item.Quantity left)</p>
                    </div>
                }
            </div>
            <div>
                <h4>Recent Orders</h4>
                @foreach (Order o in ViewBag.Orders)
                {
                    <p>@o.Customer.FirstName purchased @o.OrderQuantity @o.Product ... (@o.CreatedAt)</p>
                }
            </div>
            <div>
                <h4>New Customers</h4>
                @foreach (Customer c in ViewBag.Customers)
                {
                    <p>@c.FirstName @c.LastName joined the store (@c.CreatedAt)</p>
                }
            </div>
        </div>
    </body>
</html>