@model List<Wedding>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <h1>Welcome to the Wedding Planner</h1>
            <a asp-controller="Attendee" asp-action="Logout">Logout</a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Wedding</th>
                    <th scope="col">Date</th>
                    <th scope="col">Guest</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Wedding w in Model)
                {
                    <tr>
                        <td><a asp-controller="Wedding" asp-action="OneWedding" asp-route-weddingId="@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></td>
                        <td>@w.Date.Date</td>
                        <td>@w.AttendanceList.Count</td>
                        <td>
                        @{
                            bool attending = w.AttendanceList.Any(a => a.AttendeeId == Context.Session.GetInt32("AttendeeId"));
                        }
                        @if(w.PlannerId == Context.Session.GetInt32("AttendeeId"))
                        {
                            <a asp-controller="Wedding" asp-action="DeleteOne"  asp-route-weddingId="@w.WeddingId">Delete</a>
                        }
                        else{
                            <a asp-controller="Wedding" asp-action="Attend"  asp-route-weddingId="@w.WeddingId">
                            @if(attending)
                            {
                                <span>UN-RSVP</span>
                            }
                            else
                            {
                                <span>RSVP</span>
                            }
                            </a>
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Wedding" asp-action="Plan" class="btn btn-outline-primary">New Wedding</a>
    </body>
</html>