@model Dish

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@(@Model != null? "Edit Dish!": "New Dish!")</title>
    </head>
    <body>
        <h1 style="text-align: center;">@(@Model != null? "Edit Dish!": "New Dish!")</h1>
        <a href="/">Home</a>

        <form  asp-controller="Dish" asp-action="@(@Model != null? "Update" : "Create")" asp-route-dishId="@(@Model != null? @Model.DishId : "")" method="POST">
            <div style="display: flex;">
                <div style="flex: 1;">
                    <div>
                        <label asp-for="Chef"></label>
                        <span asp-validation-for="Chef"></span>
                        <input asp-for="Chef" value="@(@Model != null? @Model.Chef :"")">
                    </div>
                    <div>
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name"></span>
                        <input asp-for="Name" value="@(@Model != null? @Model.Name :"")">
                    </div>
                    <div>
                        <label asp-for="Calories"></label>
                        <span asp-validation-for="Calories"></span>
                        <input asp-for="Calories" value="@(@Model != null? @Model.Calories :"")">
                    </div>
                </div>
                <div style="flex: 1;">
                    <div>
                        <label asp-for="Tastiness"></label>
                        <span asp-validation-for="Tastiness"></span>
                        <select asp-for="Tastiness" value="@(@Model != null? @Model.Tastiness :"")">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div style="flex: 1;">
                    <div>
                        <label asp-for="Description"></label>
                        <span asp-validation-for="Description"></span>
                        <textarea asp-for="Description" rows="5" cols="50" value="@(@Model != null? @Model.Description :"")"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit">@(@Model != null? "Edit Dish": "New Dish")</button>
        </form>
    </body>
</html>